<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-between">
      <div class="left-side-menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <div class="container justify-content-center">
              <h3 class="masthead-brand site-logo">Picto Text</h3>
            </div>
          </li>
        </ul>
      </div>
      <div class="right-side-menu">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a (click)="navgateToContentPage(userType)" class="nav-item nav-link">Conținut</a>
          </li>
          <li class="nav-item">
            <!--            <a (click)="signout()" class="nav-link">Sign out</a-->
            <a (click)="signout()" class="nav-item nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

