<div class="d-flex flex-column vh-100 card-first-page">
  <div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="text-center">
      <h1 class="cover-heading">Picto Text</h1>
      <p class="lead pt-2">Ne bucurăm că ne-ați ales pentru generarea de texte pe baza imaginilor!</p>
      <p class="lead pb-2">Vă rugăm să vă alegeți tipul de utilizator: </p>
      <p class="lead d-flex flex-column align-items-center">
        <button class="btn btn-lg mb-2" (click)="navigateToLogin('user')">User</button>
        <button class="btn btn-lg" (click)="navigateToLogin('superuser')">Super User</button>
      </p>
    </div>
  </div>
  <footer class="text-center py-3">
    <p>&copy; 2024 Picto Text | Menționăm faptul că un user poate genera un text pe baza unei singure imagini, iar un super user un text pe baza a două imagini!</p>
  </footer>
</div>
