h2,
p,
label {
  color: var(--secondary-color2);
}

p{
  font-size: 20px;
}

.btn {
  background-color: var(--secondary-color2);
  color: var(--primary-color);
}

input[type="file"] {
  color: var(--secondary-color);
}

::-webkit-file-upload-button {
  background: var(--secondary-color2);
  color: var(--primary-color);
}

img {

}

input[type="file"]{
  color: var(--secondary-color2);
}

.img-preview {
  width: 650px;
  height: 400px;
  object-fit: cover;
}
